
<div class="content">
    <div class="row">
        <div class="col-md-9">
            <div class="text">
                <h5 style="text-align: center; font-weight: bolder;">
                    AZƏRBAYCAN RESPUBLİKASI TƏHSİL
                    NAZİRLİYİ
                </h5>
                <hr>
                <br><br><br><br>
                <h5 style="font-weight: bolder; text-align: center;">AZƏRBAYCAN TEXNİKİ UNIVERSİTETİ</h5>
                <img src="/assets/images/1.png" alt="">
                <img src="/assets/images/3.png" style="margin-left: 200px;" alt="">
                <h6>«Mühəndis riyaziyyatı və Süni intellekt» kafedrası</h6>
                <br><br>
                <h6 style="text-align: center;">050655- informasiya Texnologiyaları</h6>
                <hr>
                <h6 style="text-align: center; font-weight: bolder;">
                    ixtisası üzrə bakalavr dərəcəsi üçün
                </h6><br>
                <h3 style="text-align: center; font-weight: bolder;">TƏDRİS PLANI</h3>
                <p style="text-align: center; font-weight: bolder;">
                    Sahə: Mühəndislik
                    <br>
                    İxtisas səviyyəsi: Bakalavr Təhsil rejimi: Əyani və ya qiyabi <br>
                    Təqdim olunan dərəcə: Elmlər üzrə bakalavr (BS) Müddət: 4 il Tam və ya 5 il Part-time
                    <br>
                    Verilən ixtisas: İnformasiya Texnologiyaları üzrə Bakalavr Ümumi Kredit Saatı: 240 <br>
                    (AKTS-Avropa Kredit Transfer Sistemi)

                </p>
                <br><br>
                <img src="/assets/images/p1.jpeg" style="margin-left:100px" alt="">
                <br>
                <br>
                <br>
                <img src="/assets/images/p2.jpeg" style="margin-left:100px" alt="">

            </div>
        </div>
    </div>
</div>
