
<div class="content">
    <div class="row">
        <div class="col-md-9">
            <div class="text">
                <h5 style="text-align: center; font-weight: bolder;">
                    AZƏRBAYCAN RESPUBLİKASI TƏHSİL
                    NAZİRLİYİ
                </h5>
                <hr>
                <br><br><br><br>
                <h5 style="font-weight: bolder; text-align: center;">AZƏRBAYCAN TEXNİKİ UNIVERSİTETİ</h5>
                <img src="/assets/images/1.png" style="margin-left: 50px;" alt="">
                <img src="/assets/images/3.png" style="margin-left: 150px;" alt="">
                <h6 style="text-align: center;">«Mühəndis riyaziyyatı və Süni intellekt» kafedrası</h6>
                <br><br>
                <h6 style="text-align: center;">050656- Sistem Mühəndisliyi</h6>
                <hr>
                <h6 style="text-align: center; font-weight: bolder;">
                    ixtisası üzrə bakalavr dərəcəsi üçün
                </h6><br>
                <h3 style="text-align: center; font-weight: bolder;">TƏDRİS PLANI</h3>
                <p style="text-align: center; font-weight: bolder;">
                    Sahə: Mühəndislik
                    <br>
                    Sahə: Mühəndislik <br>
                    İxtisas səviyyəsi: Bakalavr dərəcəsi: <br>
                    Elmlər üzrə bakalavr (BS)
                    Verilən ixtisas: Sistem Mühəndisliyi üzrə Bakalavr Ümumi Kredit Saatı: 240 (AKTS-Avropa
                    Kredit Transfer Sistemi) <br>
                    Təhsil rejimi: Əyani təhsil <br>
                    müddəti - 4 il <br>
                    Bakı-2022


                </p>
                <br><br>
                <img src="/assets/images/p3.png" style="margin-left:100px" alt="">
                <br>


            </div>





        </div>

    </div>
</div>
