<div class="content">
    <div class="row">
        <div class="col-md-9">
            <div style=" background-color: rgb(186, 198, 231); border-radius: 25px; padding: 15px;">
                <h2>Əlaqə</h2>
                <hr>
                <br><br>
                <div class="logo">
                    <img src="/assets/images/1.png" alt="images">
                    <img src="/assets/images/2.png" alt="images">
                    <img src="/assets/images/3.png" alt="images">
                </div>
                <hr><br><br>
                <div style="margin-left: 20%;">

                    <p>
                        <b style="font-size:20px;  ">Ünvan:</b> H.Cavid prospekti 25, Bakı, Azərbaycan, AZ
                        1073
                    </p>
                    <p><b style="font-size:20px;">Telefon:</b> (+994 12) 539-14-56, 539-10-70</p>
                    <p><b style="font-size:20px;">E-mail:</b> utr@aztu.edu.az</p>
                    <p><b style="font-size:20px;">E-mail:</b> utr-2018@mail.ru</p>
                </div>

            </div>
        </div>

    </div>
</div>
