
<div class="content">
    <div class="row">
        <div class="col-md-9">
            <div class="list">
                <h2 style="text-align: center; margin-top:5px;">Əməkdaşlar</h2>
                <ol>

                    <li>
                        <a href=""><b> prof., Ağayev Nadir Bafaddin oğlu – kafedra müdiri</b></a>
                    </li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li>
                        <b>
                            f.-r.e.n. dos., Şirinov Taleh
                            Voraşil oğlu
                        </b>
                    </li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b> <a href=""></a> t.e.d. prof., Əliyev Əkbər Bayram oğlu</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b> p.e.d. prof., Mahmudov Müdafiə Cəmil oğlu</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b> f.-r.e.n. dos., Babayev Məmməd Əlixan oğlu</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b>f.-r.e.n. dos., İslamov Mənsur Mövlud oğlu</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b>f.-r.e.n. dos., Yusifov Vaqif Həmid oğlu</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b>f.-r.e.n. dos., Məmmədhəsənov Elxan Hüseynqulu oğlu</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b>f.-r.e.n. dos., Tahirova Azadə Cəmşid qızı</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b> f.-r.e.n. dos., Tağızadə Elvira Canbəyovna qızı</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b>f.-r.e.n. dos., Şıxəliyev Nizami İsmayıl oğlu</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b> f.-r.e.n. dos., Şəmiyev Təbriz Musa oğlu</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b>f.-r.e.n. dos., Haxıyev Əlabbas Seydi oğlu</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b>f.-r.e.n. dos., Həsənov Hidayət Mərdan oğlu</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b> f.-r.e.n. dos.,Vəliyev Həsən Paşa oğlu</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b>f.-r.e.n. dos., Əkbərova Svetlana Nadir qızı</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b>f.-r.e.n. dos., Məsimov Fikrət Əbülfət oğlu</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b>t.e.n. dos., Əmirova Rəna Ağamir qızı</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b> f.-r.e.n. dos., Məmmədov Firudin Osman oğlu</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b> f.-r.e.n. dos., Muradov Vaqif Mehman oğlu</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b>f.-r.e.n. dos., Niftəliyeva Mehriban Müslim qızı</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b> f.-r.e.n. dos., Şahverdiyev Mehman Ələkbər qızı</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b> b/m Nəcəfova Sevinc Salam qızı</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b> r.ü.f.d Məmmədova Ülviyyə Məmmədəli qızı</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b> r.ü.f.d.Zamanova Ruhiyyə Bülbül qızı</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b>b/m Əliyev Mövsüm Əliqulu oğlu</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b>ass.İsmayılova Rəna Əşrəf qızı</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                    <li><b> ass.Rəsulzadə Aynur Fizuli qızı</b></li>
                    <hr style="margin: 5px; padding:0; width: 50%; ">
                </ol>
                <h2 style="text-align: center; margin-top: 10px">Tədris köməkçi-heyəti</h2>
                <ol>
                    <li>
                        <a href="#"> <b>b/lab.Xasayeva Natavan Məmməd qızı</b></a>
                    </li>
                    <li>
                        <a href="#"><b>b/lab Nəcəfova Gülşən Baba qızı</b></a>
                    </li>
                    <li>
                        <a href="#"><b>b/lab.Hüseynova Minayyə Neymət qızı</b></a>
                    </li>
                    <li>
                        <a href="#"><b>b/lab.Babanlı Günel Fəxrəddin qızı</b></a>
                    </li>
                    <li>
                        <a href="#"><b>b/lab. Məmmədli Aytən Rəhman qızı</b></a>
                    </li>
                    <li>
                        <a href="#"><b>b/lab.Poladova Sevda Oruc qızı</b></a>
                    </li>
                    <li>
                        <a href="#"><b>b/lab.Abbasova Ayşən Cümşüd qızı</b></a>
                    </li>
                    <li>
                        <a href="#"><b>b/lab. Seyfullayeva Aydan Səməd qızı</b></a>
                    </li>

                </ol>

            </div>
        </div>

    </div>
</div>
