
<div class="content">
    <div class="row">
        <div class="col-md-9">
            <div class="">
                <h3 style="text-align: center; font-weight: bolder;">Doktorantura</h3>
                <hr>
                <br><br>
                <h5 style="text-align: center; font-weight: bolder;">
                    «Mühəndis riyazziyyatı və Süni
                    intellekt» kafedrası
                </h5>
                <h5 style="text-align: center; font-weight: bolder;">DOKTORANTURA</h5>
                <br>
                <h6>ÜMUMİ MƏLUMAT</h6>
                <h6>DOKTORANTURAYA QƏBUL PROQRAMI</h6>
                <h6>DOKTORANTURAYA QƏBUL QAYDALARI</h6>
                <h5 style="text-align: center;">ÜMUMİ MƏLUMAT</h5>
                <h6 style="text-indent: 50px; font-weight: bolder;">
                    «Mühəndis riyazziyyatı və Süni
                    intellekt» kafedrası
                </h6>
                <br>
                <h6 style="text-indent: 150px; font-weight: bolder;">
                    3338.01 - "Sistemli analiz, idarəetmə
                    və informasiyanın işlənməsi"
                </h6>
                <br>
                <p>
                    ixtisası üzrə doktorantura və dissertantlıq yolu ilə elmi kadrlar hazırlayır.

                    AzTU-da 3338.01 ixtisası üzrə doktoranturada təhsil fəlsəfə doktoru və elmlər doktoru
                    proqramları üzrə həyata keçirilir. Doktoranturada təhsil alma əyani (istehsalatdan
                    ayrılmaqla) və qiyabi (istehsalatdan ayrılmamaqla) formaları üzrə, dissertantlıq isə
                    dissertantura yolu üzrə aparilir. Doktoranturada təhsil dövlət hesabına və ödənişli
                    əsaslarla həyata keçirilir. Fəlsəfə doktoru programı üzrə doktoranturada əyani təhsil
                    müddəti 3 il, qiyabi 4 il, dissertantlıq 4 ildir.

                    Doktoranturaya qəbul olmaq istəyənlər ixtisas fənnindən, xarici dildən (rus dili istisna
                    olmaqla, seçim sərbəst və ya ixtisasa uyğun olmalıdır) və fəlsəfədən ali təhsil
                    pilləsinin magistratura səviyyəsi üçün qüvvədə olan tədris programları həcmində qəbul
                    imtahanları verirlər. “Fəlsəfə doktoru” elmi dərəcəsi üzrə dissertantlıq yolu ilə təhsil
                    alan şəxslər əlavə olaraq müəyyən olunmuş informatika və ixtisas uyğunluğu nəzərə
                    alınmaqla, digər fəndən də doktorluq imtahanları verirlər.

                    Dissertantlıq yolu ilə yüksəkixtisaslı elmi və elmi-pedaqoji kadrların hazırlanması ali
                    təhsil müəssisələrində, elmi və digər təşkilatlarda çalışan mütəxəssislərin
                    istehsalatdan ayrılmamaqla elmi dərəcənin alınması üçün təhkim olunmaqla dissertasiya
                    işinin yerinə yetirilməsini təmin edir.

                    Dissertantlıq yolu ilə “Fəlsəfə doktoru” elmi dərəcəsi almaq hüququna ali təhsilli,
                    müvafiq tədqiqat sahəsində müəyyən müvəffəqiyyətləri olan ali təhsil müəssisələrinin
                    elmi və elmi-pedaqoji kadrları malikdirlər. “Elmlər doktoru”elmi dərəcəsinin
                    dissertantlıq yolu ilə alınması üçün “Fəlsəfə doktoru” elmi dərəcəsinin olması əsas
                    şərtdir.

                    <br>
                    <br>
                    <b>
                        <p style="text-align: center;">
                            DOKTORANTURAYA QƏBUL QAYDALARI

                        </p>
                    </b>
                    <br>
                    <br>


                    Əyani doktoranturaya tam ali təhsilli (magistraturanı bitirmiş, yaxud keçmiş beşillik
                    təhsil alan), elmi-tədqiqat işində nailiyyət qazanmış, ali məktəblərdə və başqa təşkilat
                    və idarələrdə çalışan mütəxəssislər qəbul edilirlər.
                    <br><br>

                    Gənc mütəxəssislər ancaq ali təhsil müəssisəsi (fakültə) Elmi Şurasının zəmanəti ilə
                    bilavasitə ali təhsil müəssisəsini (magistraturanı) bitirdikdən sonra imtahanlarda
                    iştirak etməyə buraxılırlar.
                    <br><br>

                    Qəbul imtahanları AzTU-nun rəhbərliyi tərəfindən təyin edildiyi vaxtda keçirilir.
                    <br><br>

                    Doktoranturaya qəbul imtahanlarına buraxılmış şəxslərə imtahanlara hazırlaşmaq və onları
                    vermək üçün əmək haqqı saxlanılmaqla iş yerindən 30 təqvim günü müddətinə əlavə
                    məzuniyyət verilir.
                    <br><br>

                    Doktorluq imtahanlarını tam, yaxud qismən verən şəxslər (imtahanların verildiyi gündən 5
                    ildən artıq vaxt keçməmişsə) müvafiq qəbul imtahanlarından azad edilirlər.
                    <br><br>

                    Elmlər doktoru proqramı üzrə doktoranturaya seçdikləri sahədə elmi və ya elmi-pedaqoji
                    naliyyəti olan, fundamental tədqiqatları yüksək səviyyədə aparmağa qadir və “Fəlsəfə
                    doktoru” (elmlər namizədi) elmi (alimlik) dərəcəsi olan Azərbaycan Respublikasının
                    vətəndaşları qəbul edilirlər.
                    <br><br>

                    <b>

                        Doktoranturaya qəbul üçün aşağıdakı sənədlər təqdim edilir:
                    </b>
                    <br><br>

                    • Ərizə (AzTU rektorun adına);
                    <br>
                    <br>

                    • Kadrların şəxsi-qeydiyyat vərəqi;
                    <br>
                    <br>

                    • Tərcümeyi-hal;
                    <br>
                    <br>

                    • 3 ədəd fotoşəkil (3x4 sm ölçüdə);
                    <br>
                    <br>

                    • İş yerindən xasiyyətnamə;
                    <br>
                    <br>

                    • Əmək kitabçasından çıxarış;
                    <br>
                    <br>

                    • Çap olunmuş elmi işlərin siyahısı;
                    <br>
                    <br>

                    • “Fəlsəfə doktoru” və ya “Elmlər namizədi elmi (alimlik) dərəcəsi diplomunun müvafiq
                    qaydada təsdiq edilmiş surəti;
                    <br>
                    <br>

                    • Ali təhsil müəssisəsini bitirmək haqqında diplomun müvafiq qaydada təsdiq edilmiş
                    surəti;
                    <br>
                    <br>

                    • Şəxsiyyəti təsdiq edən sənədin surəti.
                    <br>
                    <br>

                    Dövlət hesabına əyani təhsil alan doktorantlara qanunvericiliklə müəyyən olunmuş
                    məbləğdə təqaüd ödənilir və hər il məzuniyyət verilir.

                    İxtisas üzrə ayrılmış yerlərin sayı AzTU üzrə təsdiq olunmuş planda göstərilir.

                    <br><br>
                    <b>
                        <p style="text-align: center;">
                            DOKTORANTURAYA QƏBUL PROQRAMI
                        </p>

                    </b>
                    <br>

                    (3338.01 - "Sistemli analiz, idarəetmə və informasiyanın işlənməsi" ixtisası üzrə)
                    <br><br>


                    Sistem, onun tərifi, təsnifat əlamətləri, əsas xassələri. Süni və təbii sistemlər. Böyük
                    və mürəkkəb sistemlər.
                    <br>
                    Sistemli yanaşmanın əsas mahiyyəti.
                    <br>
                    Sistemli analizin obyektləri.
                    <br>
                    Sistemin dekompozisiyası və sintezi.
                    <br>
                    Dekompozisiya prosesinin alqoritmləşdirilməsi. Aqreqatlaşmanın növləri.
                    <br>
                    Xətti cəbr. Qrup, halqa, meydan anlayışları, onların əsas xassələri.
                    <br>
                    Ehtimal nəzəriyyəsi və riyazi statistikanın əsas anlayışları. Ehtimal fəzası. Şərti və
                    ehtimal, asılı olmayan hadisələr ardıcıllığı. Təsadüfi kəmiyyətlər və onların
                    xarakteristikaları.
                    <br>
                    Riyazi statistikanın əsas məsələləri, nöqtəvi qiymətləndirmə, inam intervalının
                    qurulması, statistik hipotezlərin fərqləndirilməsi.
                    <br>
                    Qraflar və orqraflar. Qraflar üzərində alqoritmik məsələlər, sonlu avtomatlar, avtomatın
                    keçid qrafı.
                    <br>
                    İnformasiya nəzəriyyəsi. İnformasiya anlayışı, entropiya, şərti entropiya. Kodlaşdırma,
                    optimal kodlaşdırma, xətti kodlar, Xemminq kodu və s.
                    <br>
                    İdarəetmənin əsas anlayışları, mahiyyəti, göstəriciləri və meyarları.
                    <br>
                    İdarəetmə obyektləri.
                    <br>
                    İdarəetmənin məqsədi və funksiyaları.
                    <br>
                    İdarəetmədə qərarlarının qəbulu.
                    <br>
                    İdarəetmə sistemləri və onların strukturu.
                    <br>
                    İdarəetmədə istifadə olunan riyazi metodlar: optimallaşdırma məsələləri, xətti və
                    dinamiki proqramlaşdırma, şəbəkə qrafikləri.
                    <br>
                    Müasir kompüter texnikası. Kompüterlərin təsnifatı. Müasir fərdi kompüterlərin
                    arxitekturası, əsas modelləri, qurğuları və xarakteristikaları. Multimediya vasitələri.
                    Kompüterlərin proqram təminatı. Sistem və tətbiqi proqram təminatı.
                    <br>
                    Əməliyyat sistemləri, texniki xidmət proqramları, servis proqramları, proqramlaşdırma
                    sistemləri.
                    <br>
                    Mətn və cədvəl prosessorları. Qrafik redaktorlar.
                    <br>
                    Riyazi proqram paketləri.
                    <br>
                    Müasir proqramlaşdırma texnologiyaları. Struktur proqramlaşdırma. Funksional və məntiqi
                    proqramlaşdırma. Obyekt-yönlü proqramlaşdırma. Vizual proqramlaşdırma.
                    <br>
                    Verilənlər bazaları. Verilənlər bazası konsepsiyası. Verilənlər bazasının yaradılma
                    mərhələləri.Verilənlərin modelləri. Relyasiya modeli. Verilənlər bazası idarəetmə
                    sistemi (VBİS).
                    <br>
                    Kompüter şəbəkələri, topologiyaları və protokolları. Lokal və qlobal şəbəkələr və
                    onların proqram təıminatı.
                    <br>
                    İnternet şəbəkəsi: arxitekturası, xidmətləri, mübadilə protokolları, ünvanlaşdırma.
                    <br>
                    İnternet-bələdçi poqramlar. İnternet-də informasiya axtarışı.
                    <br>
                    İnformasiya sistemlərinin inkişafı. Korporativ informasiya sistemləri.
                    <br>
                    İnformasiyanın mühafizəsi problemi və onun həll yolları.
                    <br>
                    İnformasiya sistemlərinin layihələndirilməsi. Layihələndirmənin əsas mərhələləri və
                    onların xarakteristikaları.
                    <br>
                    Süni intellekt texnologiyaları. İntellektual informasiya sistemləri, ekspert sistemləri,
                    surətlərin tanınması sistemləri. Biliklərin təsviri üsulları. Məntiqi çıxarış.
                    <br>
                    <br><br>
                    <hr>
                    <b>
                        <p style="text-align: center;">
                            Ədəbiyyat
                        </p>

                    </b>
                    <br><br>

                    Артамонов Б.Н. и др. Основы современных компьютерных технологий. –С.-П.: «Корона принт»,
                    1998.
                    <br>
                    Баранов В.В., Колянов Г.Н. и др. Автоматизация управления предприятием. –М.: «Инфра-М»,
                    2000.
                    <br>
                    Дейт К.Введение в системы баз данных. 6-е изд.-Киев: Диалектика, 1998.
                    Информатика. Учебник под ред. Н.Б.Макаровой. –М., 1999.
                    <br>
                    Информатика. Базовый курс. Под ред.С.В.Симоновича. - С.-П. «Питер», 2001.
                    <br>
                    Кунц Г., О’Доннел С. Управление: системный и ситуационный анализ управленческих
                    функций.-М.:Прогресс, 1981.
                    <br>
                    Kərimov S.Q. Avtomatlaşdırılmış informasiya sistemləri . - Bakı: Elm, 1989.
                    <br>
                    Kərimov S.Q. İnformasiya sistemləri və verilənlər bazaları. – Bakı: Elm, 1999.
                    <br>
                    Kərimov S.Q., Həbibullayev S.B., İbrahimzadə T.Y. İnformatika. - Bakı, 2002.
                    <br>
                    Лоскутов В.И. Основы современной техники управления.-М.: «Экономика», 1973.
                    <br>
                    Моисеев Н.Н., Иванилов Ю.П., Столярова Е.М. Методы оптимизации.-М.: «Наука», 1978.
                    <br>
                    Перегудов Ф.И., Тарасенко Ф.П. Введение в системный анализ.-М.: «Высшая школа», 1989.
                    <br>
                    Съедин С.И. Основы управления. –М.: РНО, 1996.
                    <br>
                    Уинстон П. Искусственный интеллект. - М.: «Мир», 1980.
                    <br>
                    Уотерман Д. Руководство по экспертным системам. –М.: «Мир», 1989.
                    <br>
                    Ханенко Б.Н. Информационные системы. - Ленинград: «Машиностроение», 1988.
                    <br>

                </p>


            </div>
        </div>

    </div>
</div>
