@model Feedback 
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters" style="display: flex; align-items: center;">
                        <div class="col-md-7 d-flex align-items-stretch">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Onlayn Müraciət</h3>
                                <div id="form-message-warning" class="mb-4"></div>
                                <div id="form-message-success" class="mb-4">
                                    Hər hansı bir şərh və ya sualınız varsa
                                </div>
                                <form method="POST" id="contactForm" asp-action="Save" asp-controller="Feedback">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" asp-for="Name" class="form-control" name="name" id="name" placeholder="Ad">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="email" asp-for="Email" class="form-control" name="email" id="email" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group" style="margin-top:10px">
                                                <input type="text" asp-for="Theme" class="form-control" id="subject" placeholder="Məzmun">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group" style="margin-top:10px">
                                                <textarea  asp-for="Context" class="form-control" id="message" cols="30" rows="7" placeholder="Mesaj"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group" style="margin-top:10px">
                                                <input type="submit" value="Mesajı göndər" class="btn btn-primary">
                                                <div class="submitting"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex align-items-stretch" style="height:fit-content">
                            <div class="info-wrap w-100 p-lg-5 p-4" style="background-color: #57b846; border-radius: 8px;">
                                <h3 class="mb-4 mt-md-4"></h3>
                                <div class="dbox w-100 d-flex align-items-start">
                                    <div class="icon d-flex align-items-center justify-content-center" style="margin-right: 10px; font-size:24px; align-self: center; color: white;">
                                        <span class="fa fa-map-marker"></span>
                                    </div>
                                    <div class="text pl-3">
                                        <p><span>Ünvan:</span> H.Cavid prospekti 25, Bakı, Azərbaycan AZ 1073. Azərbaycan Texniki Universiteti.</p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center" style="margin-right: 10px; font-size:24px; align-self: center; color: white;">
                                        <span class="fa fa-phone"></span>
                                    </div>
                                    <div class="text pl-3">
                                        <p><span>Əlaqə nömrəsi:</span> <a href="tel://1234567920">(+994 12) 538-33-83.</a></p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center" style="margin-right: 10px; font-size:22px; align-self: center; color: white;">
                                        <span class="fa fa-paper-plane"></span>
                                    </div>
                                    <div class="text pl-3">
                                        <p><span>Email:</span> <a href="mailto:RehmanAliyev210@gmail.com">RehmanAli@gmail.com</a></p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center" style="margin-right: 10px; font-size:20px; align-self: center; color: white;">
                                        <span class="fa fa-globe"></span>
                                    </div>
                                    <div class="text pl-3">
                                        <p style="margin-bottom: 0;"><span> </span> <a href="#"> MuhendisRiyaziyyati.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>