@{
    ViewData["Title"] = "Home Page";
}
<div class="content">
    <div class="row">
        <div class="col-md-9">
            <div class="txt shadow">
                <p style="text-align: justify;">
                    Azərbaycan Texniki Universitetinin (AzTU) (əvvəl Azərbaycan
                    Politexnik İnstitutu) ilk kafedralarından olan Ali riyaziyyat kafedrası 1950-ci ildə
                    fəaliyyətə başlayıb.
                    1976-cı ildə professor Kərim Abdulxaliq oğlu Kərimovun təşəbbüsü ilə Tətbiqi və
                    hesablama riyaziyyatı kafedrası yaradılıb. Sonra bu kafedra Tətbiqi riyaziyyat
                    adlandırılıb. Daha sonra kafedra Riyaziyyat-2 adı altında fəaliyyətə başlayıb.
                    2001-ci ildə Riyaziyyat-1 və Riyaziyyat-2 kafedraları birləşdirilərək Riyaziyyat
                    kafedrası adlandırılıb. 2019-cu ildə kafedranın adı yenidən dəyişilərək Mühəndis
                    riyaziyyatı kafedrası adlandırılıb.
                    2021-ci ildə universitetdə struktur dəyişikliyi ilə əlaqədar olaraq İnformasiya
                    texnologiyaları və proqramlaşdırma və Mühəndis riyaziyyatı kafedraları birləşdirilərək
                    onların bazasında Mühəndis riyaziyyatı və süni intellekt kafedrası yaradılıb.
                    Hazırda kafedrada 3 ixtisas üzrə bakalavr səviyyəsində, 3 ixtisas üzrə isə magistratura
                    səviyyəsində (10 ixtisaslaşma) kadr hazırlanır.
                </p>
                <p style="text-align: justify;">
                    Kafedranın elmi istiqamətləri:
                    Kafedrada elmi tədqiqat işləri əsasən aşağıdakı istiqamətlərdə yerinə yetirilir:
                    • İnformasiyanın məhdudluğu şəraitində texniki sistemlərin idarə edilməsi metod və
                    alqoritmlərinin işlənməsi;
                    • Korporativ informasiya sistemlərində və bulud (Cloud Computing) texnologiyalarıdan
                    istifadədə təhlükəsizliyinin təmin olunması metodlarının işlənməsi;
                    • Süni intellekt (Artificial Intelligence) və intellektual proqram (Software)
                    məhsullarının elmi-praktiki problemləri;
                    • Böyük verilənlər (Big Data) və Verilənlərin intellektual analizi (Data mining)
                    texnologiyalarının perspektivləri və işlənilməsi problemləri.
                </p>

                <p style="text-align: justify;">
                    Kafedranin əməkdaşlığı:
                    • Azərbaycan Respublikasında fəaliyyət göstərən universitetlərin uyğun Kafedraları;
                    • AMEA institutları;
                    • Türkiyə Universitetləri;
                    • Rusiya Federasiyasının universitetləri.
                </p>
                <p><b>Bakalavr təhsil səviyyəsi üzrə:</b></p><br>
                <p><b>2021-ci ildən kafedrada yeni ixtisaslar üzrə bakalavr hazırlığına başlanılıb:</b></p>
                <br>
                <p><b>Magistr təhsil səviyyəsi üzrə:</b></p><br>
            </div>
        </div>

    </div>
</div>
