
<div class="content">
    <div class="row">
        <div class="col-md-9">
            <div class="text">
                <h3 style="text-align: center;"> <b>Magistratura</b> </h3>
                <br>
                <!-- <img src="../images/p4.png" style="margin-left: 50px;" alt="">
                <br>
                <br>
                <img src="../images/p5.png" style="margin-left: 90px;" alt=""> -->
                <hr>

                <p style="margin: 0; padding:0; color: red; text-align: center;">
                    060632- Informasiya
                    texnolgiyaları və sistemləri mühəndisliyi
                </p>
                <p style="margin: 0; padding:0; color: blue; text-align: center;">İxtisaslaşmaların adı</p>
                <p style="margin: 0; padding:0; color: blue; text-align: center;">
                    Tətbiqi proqram təminatı
                </p>
                <p style="margin: 0; padding:0; color: blue; text-align: center;">
                    İnformasiya mühafizsəi və
                    təhlükəsizliyi
                </p>
                <p style="margin: 0; padding:0; color: blue; text-align: center;">
                    İdarəetmədə informasiya
                    sistemləri
                </p>
                <p style="margin: 0; padding:0; color: blue; text-align: center;">İqtisadi informatika</p>
                <p style="margin: 0; padding:0; color: blue; text-align: center;">
                    İnformasiya
                    texnologiyaları və telekommunikasiya sistemləri
                </p>
                <hr>
                <br><br>
                <hr>
                <p style="margin: 0; padding:0; color: red; text-align: center;">060509-Kompüter elmləri</p>
                <p style="margin: 0; padding:0; color: blue; text-align: center;">İxtisaslaşmarın adı</p>
                <p style="margin: 0; padding:0; color: blue; text-align: center;">Kompüter modelləşdirmə</p>
                <p style="margin: 0; padding:0; color: blue; text-align: center;">Sistem proqramlaşdırma</p>
                <p style="margin: 0; padding:0; color: blue; text-align: center;">
                    Kompüter sistemlərinin və
                    şəbəkələrinin proqramı </var>
                </p>
                <p style="margin: 0; padding:0; color: blue; text-align: center;">
                    İdarəetmənin informasiya
                    texnologiyaları
                </p>
                <p style="margin: 0; padding:0; color: blue; text-align: center;">İntellektual sistemlər</p>
                <p style="margin: 0; padding:0; color: blue; text-align: center;">
                    Optimal idarəetmənin
                    riyazi-iqtisadi üsulları
                </p>
                <p style="margin: 0; padding:0; color: blue; text-align: center;">
                    Verilənlərin təhlili (Data
                    analitikası)
                </p>
                <p style="margin: 0; padding:0; color: blue; text-align: center;">
                    Dövlət informasiya
                    sistemlərinin təhlükəsizliyi
                </p>
                <hr>
                <br><br>

                <h6 style="text-align: center; font-weight:bolder">Magistratura təhsil proqramı</h6>
                <p style="text-align: center; ">
                    Çoxpilləli ali təhsil sistemində magistratura ali təhsilin ikinci pilləsi olub, müəyyən
                    ixtisas üzrə sərbəst yaradıcılıq fəaliyyəti göstərə biləcək mütəxəssislərin hazırlanması
                    məqsədini güdür.

                    Magistratura təhsil proqramı, mütəxəssisin gələcək fəaliyyətində elmi-tədqiqat və
                    layihə-sınaq səciyyəli işləri yerinə yetirəcəyini nəzərə almaqla, bakalavr ixtisas
                    təhsili proqramının sonrakı inkişafı və differesiyası yolu ilə qüvvədə olan “Ali təhsil
                    istiqamətləri və ixtisaslarının siyahısı”na uyğun olaraq tərtib edilir. Azərbaycan
                    Respublikasında çoxpilləli ali təhsil sistemində magistr hazırlığı (magistratura)
                    haqqında əsasnaməyə görə Magistr təhsil proqramı uyğun istiqamətlər üzrə bakalavr
                    proqramından və təxminən onunla bərabər nisbətdə müəyyənləşdirilmiş sırf tədris və
                    elmi-tədqiqat tərkib issələrini özündə birləşdirən ikinci pillə proqramından ibarətdir.
                    Bu proqramın tədris hissəsinə peşə təhsilinin dərinləşməsinə yönəlmiş fənlər və
                    bölmələr, eləcə də xarici dil və ixtisas fənləri daxil edilməlidir. Magistrlərin
                    elmi-tədqiqat işinin məzmunu fərdi planla müəyyən edilir.Magistr təhsil proqramının həm
                    elmi, həm də tədris hissələrinə ümumi rəhbərlik professor-müəllim heyətinin elmi adı və
                    ya dərəcəsi olan nümayəndələri tərəfindən həyata keçirilir.

                </p>
                <br><br>
                <h6 style="text-align: center; font-weight:bolder">
                    Magistrlik dissertasiya işinin
                    hazırlanması:
                </h6>
                <p style="text-align: center; ">
                    Magistrin elmi tədqiqat sahəsində hazırlığı konkret tədqiqat fəaliyyətinin tələblərinə
                    uyğun olaraq, müasir üsullarla araşdırmaların aparılması və dissertasiya işinin
                    hazırlanması ilə təmin olunur. Magistrlik dissertasiyası elmi rəhbərin rəhbərliyi
                    altında magistrantın müstəqil yerinə yetirdiyi elmi-tədqiqat (yaradıcılıq) və ya
                    təcrübi-konstruktor işidir. Magistrlik dissertasiyası magistrantın müvafiq ixtisaslaşma
                    və ya sahə üzrə gətirdiyi yeniliyi əks etdirməlidir. Magistrlik dissertasiyasının
                    hazırlanması və müvəffəqiyyətlə müdafiəsi magistr hazırlığı proqramının yerinə
                    yetirilməsinin məcburi şərtdir. <br>

                </p>
                <h6 style="text-align: center; font-weight:bolder">MAGISTR TƏCRÜBƏLƏRİ</h6>
                <p style="text-align: center; ">
                    Magistr təcrübələri magistr təhsil proqramlarının tərkib hissəsidir. Təcrübənin məzmunu,
                    həcmi və keçirilmə müddəti magistr proqramı üzrə dövlət təhsil standartları ilə
                    müəyyənləşdirilir. <br> <br>

                    <b>Magistratura səviyyəsində təcrübə növləri aşağıdakılardır:</b> <br><br>

                    <a href="111 word" style="color: rgb(63, 88, 225);"> • Elmi-tədqiqat təcrübəsi</a>
                    <br><br>



                    <a href="222 word" style="color: rgb(63, 88, 225);"> • Elmi-pedaqoji təcrübə.</a>

                </p>
            </div>





        </div>

    </div>
</div>
